{% import 'import/_/macros/fields' as fields %}

<div class="ImportPreview-entry" id="{{ entry.id.value }}">
    <h1>Entry Fields</h1>
    {% for title, field in entry.displayFields %}
        <div class="ImportPreview-entry--field">
            <div class="title">{{ title }}</div>
            <div class="input">{{ fields.display(field, entry.id.value) }}</div>
        </div>
    {% endfor %}

    <hr>
    <h1>Custom Fields</h1>
    {% for title, field in entry.customFields %}
        <div class="ImportPreview-entry--field">
            <div class="title">{{ title }}</div>
            <div class="input">{{ fields.display(field, entry.id.value) }}</div>
        </div>
    {% endfor %}

    <hr>
    <h1>Sites</h1>
    {# {% for site in entry.sites %} #}
        <div class="ImportPreview-entry--field">
            <div class="title">Import into sites:</div>
            <div class="input">{{ fields.siteSelection(entry.sites, entry.id.value) }}</div>
        </div>
    {# {% endfor %} #}
</div>