{% import '_includes/forms' as forms %}
{% set entry = importPreviewEntry.entry %}
<div class="ImportPreview-entry" id="entry-{{ entry.id}}">
    <div class="preview">
        <span>ID: {{ entry.id}}</span>
        <span>Title: {{ entry.title }}</span>
        <span class="pull-right"> {{ forms.checkboxField({
            id: 'enabled-' ~ entry.id,
            label: 'Import',
            name: 'enabled[' ~ entry.id~ ']',
            checked: true,
        }) }}
        </span>
    </div>
    <div class="content">

        {{ forms.textField({
            id: 'title-' ~ entry.id,
            label: 'Title',
            name: 'title[' ~ entry.id~ ']',
            value: entry.title,
            required: true,
        }) }}

        {{ forms.textField({
            id: 'slug-' ~ entry.id,
            label: 'Slug',
            name: 'slug[' ~ entry.id ~ ']',
            value: entry.slug,
            required: true,
        }) }}
        
        {{ forms.selectField({
            id: 'section-' ~ entry.id,
            label: 'Section',
            name: 'section[' ~ entry.id ~ ']',
            options: import.sections.getSectionOptions,
            value: entry.section.id ?? 0,
            required: true,
        }) }}

        {{ forms.selectField({
            id: 'type-' ~ entry.id,
            label: 'Entry Type',
            name: 'type[' ~ entry.id ~ ']',
            options: import.sections.getEntryTypeOptions(entry.section.id),
            value: entry.type.id ?? 0,
            required: true,
        }) }}

        {{ forms.selectField({
            id: 'author-' ~ entry.id,
            label: 'Author',
            name: 'author[' ~ entry.id ~ ']',
            options: entry.getAuthors,
            value: entry.author.id,
            required: true,
        }) }}

        {{ forms.multiselectField({
            id: 'sites-' ~ entry.id,
            label: 'Sites',
            name: 'sites[' ~ entry.id ~ ']',
            options: entry.getSites,
            size: entry.getSites | length,
        }) }}
    </div>
</div>